# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.idea

# captured data 
results/
ID2T_synth_attack/

# VSCode settings 
.vscode

# IPython Notebook
.ipynb_checkpoints

# pickle files
*.pkl
models/

# temporary files
build/

# cythonizing 
*.c

# profiling reports
*.prof
*.dat

# Python
__pycache__/
*.pyc
.venv/

# Data files
*.pcap
*.zip

# Output files
*.csv
*.png

# OS files
.DS_Store
Thumbs.db