colorama==0.4.6
cython==3.2.4
hyperopt==0.2.7
matplotlib==3.7.5
numpy==1.24.4
pandas==2.0.3
progressbar33==2.4
psutil==7.0.0
psutil==7.2.2
pyshark==0.6
scapy==2.7.0
scikit_learn==1.8.0
scipy==1.17.1
sdc11073==2.4.1
